ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color:rgb(60, 60, 60);
  width: 100%;
  position: fixed;
  }

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  padding: 16px 20px;
  text-decoration: none;
  text-align:center;
}

li a:hover:not(.active) {
  background-color: rgb(255, 99, 71);
}

body{
  background-color: rgb(60, 60, 60);
  font-family: Georgia;
  width:85%;
}
h1 {
  text-shadow: 3px 3px rgb(255, 99, 71);
  font-size: 50px;
  color: white;
  text-align:right;
  width:110%;
  margin:10px 0 0 0;
}
h2{
  color: white;
  text-shadow: 2px 2px rgb(255, 99, 71);
  text-align: right;
  padding:1px;
  font-size: 20px;
  width:110%;
  margin:7px 0 0 0;
}

* {box-sizing: border-box;}
body {font-family: Georgia;}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
   position:inherit;
   margin: 12px 0 0 0;
   width:95%;
   justify-content:center;
   margin-left: 70px;
}

.dot {
   height: 10px;
   width: 10px;
   justify-content:center;
   margin: 13px 3px;
   background-color: #bbb;
   border-radius: 50%;
   display:inline-block;
   transition: background-color 0.6s ease;
}

.active {
   background-color: rgb(255, 99, 71);
}
