.container{
  display: block;
  margin-top: 15px;
  justify-content: space-between;
  align: center;
  position: relative;
  width: 50%;
}

* {box-sizing:border-box}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(60, 60, 60);
  width: 100%;
  text-align: center;
  }

li a {
  display: block;
  color: #ffffff;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  float: left;
}

li a:hover:not(.active) {
  background-color: rgb(255, 99, 71);
}

body{
  background-color: rgb(60, 60, 60);
  font-family: Georgia;
  margin-left: 324px;
  margin-right: 200px;
  margin-top: 50px;
  background-color: rgb(60,60,60);
}
div.top{
  color: white;
  text-align: center;
  width: 100%;
  height: 90px;
  padding:30px 45px 60px 45px;
}

h1 {
  text-shadow: 4px 4px rgb(255, 99, 71);
  font-size: 52px;
  color: white;
  align-self: center;
  }

.image {
  display: block;
  width: 800px;
  height: 800px;
  align: center;
}

.image1 {
  display: block;
  width: 800px;
  height: 800px;
  align: center;
}

.overlay {
  position:absolute;
  top: -10;
  bottom: -10;
  left: -10;
  right: -370;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(60, 60, 60);

}
.container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}
